{% extends "base.html" %}


{% block conteudo %}

    <div class="container">
        <header class="header">
            <i class="orcamento"> Orçamento Pessoal</i>
        </header>


            <div class="content col">
                <nav class="navbar navbar-light">
                    <li class="nav-item">
                        <a class="nav-link fa fa-home" href="/home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link fa fa-exchange" href="#">Movimentações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fa fa-money" href="#">Pagar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fa fa-usd" href="#">Receber</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fa fa-bar-chart" href="/estatisticas">Estatisticas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fa fa-cog" href="#">Opções</a>
                    </li>
                </nav>

                <div class="main-content">

                    <div class="row mb-6">
                        <div class="col-md-10">
                            <i class="title">Movimentações:</i>
                        </div>
                    </div>

                    <hr />

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Categoria</th>
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th>Descricao</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody >
                            {%for movimentacao in movimentacoes: %}
                                <tr>
                                    <td>{{movimentacao['data']}}</td>
                                    <td>{{movimentacao['categoria'].title()}}</td>
                                    <td>{{movimentacao['tipo'].title()}}</td>
                                    <td>{{movimentacao['valor']}}</td>
                                    <td>{{movimentacao['descricao']}}</td>
                                    <td>
                                        <a href="/movimentacoes/{{movimentacao['id']}}" class="btn btn-danger apagar fa fa-trash"></a>
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>

                    </table>


                </div>
            </div>


    </div>

{% endblock conteudo %}